/* geral */

.body {
  background-color: whitesmoke;
}
.menu {
  display: flex;
  justify-content: space-around;
}
/* .abas {
  box-shadow: 10px 10px 200px -33px rgba(0,0,0,0.75)

}
.abaAtual {
  box-shadow: 10px 10px 88px -33px blue;
}

.abas:hover {
  box-shadow: 10px 10px 88px -33px blue;
} */

/* index */
.perfil {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* sobre */

.imgHobbie {
  align-self: left;
  width: 390rem;
  height: auto;
}

.texto{
    margin-left: 1em;
}

/* contato */
.email{
  width: 2rem;
  height: auto;
}
.inputs {
  text-align: center;
}
.botao {
  margin-top: 2em;
  background-color: #000;
  border: 1px;
  color: #a9a9a9;
  border-radius: 10px;
  height: 2em;
  width: 6em;
}
.botao:hover {
  margin-top: 2em;
  background-color: #a9a9a9;
  color: #000;
}
